.patant_div{
  width: 100vw;
  height: 100vh;
  background: #343a40;
display: flex;
justify-content: center;
align-items: center;
}
.child_div{
width: 60vw;
height: 60vh;
}
.child_div p{
  font-family: 'Lobster', cursive;
}
.child_div p{
  color: #fff;
  font-size: 25px;
}

p.first-child::first-letter {
  color: yellow;
  font-size: 10rem;
  float: left;
  display: block;
  margin: -46px 60px 0 0;
  font-weight: bold;
}

p.first-child::first-line{
  color: yellow;
  font-weight: bold;
}



@media(max-width:768px){
  .child_div{
    background-image:
linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)),
url(../image/left_planetFamilyImage.png);


  }

}